@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
}
header {
    
    width: 960px;
    margin: 0px auto;
    background-color: lightgray ; 
    padding: 30px;
}
header h1{
    text-align: center;
}

nav{
    width: 960px;
    margin: 0 auto;
    padding: 30px;
    margin-left: -30px;
}

nav ul{
    display: grid; 
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;

}

nav ul li{
    list-style: none;
    display: inline-block; /*va a ponder los element next to each other para el menu */ 
}

nav ul li a{
    font-size: 20px;
    color: rgb(255, 149, 0);
    text-decoration: none;
}

nav ul li a:hover{
    color: white;
}

body{
    background-color: rgba(255, 255, 255, 1.0);
}

/*rgba red 0, 255 green , blue 0,255 alpha 1.0, 0*/

h1{
    color: rgb(0, 0, 0);
    font-family:sans-serif;
    font-size: 50px;
}
h2{
    font-family: "Montserrat", sans-serif;
    color: rgb(73, 74, 10);
    font-size: 30px;
}

