@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header{
    background-color: brown;
    width: 960px ;
    padding: 20px;
}

body{
    background-color: rgba(255, 255, 255, 1.0);
}

/*rgba red 0, 255 green , blue 0,255 alpha 1.0, 0*/

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:sans-serif;
    font-size: 50px;
}
h2{
    font-family: "Montserrat", sans-serif;
    color: rgb(73, 74, 10);
    font-size: 30px;
}

