@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header{
    background-color: brown;
    width: 960px;
    padding: 20px;
}

nav{
    margin: 0 auto;
}

nav ul{
    display: grid; 
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;

}

nav ul li{
    list-style: none;
    display: inline-block; /*va a ponder los element next to each other para el menu */ 
}

nav ul li a{
    font-size: 20px;
    color: blue;
    text-decoration: none;
}

nav ul li a:hover{
    color: white;
}

body{
    background-color: rgba(255, 255, 255, 1.0);
}

/*rgba red 0, 255 green , blue 0,255 alpha 1.0, 0*/

h1{
    color: rgb(0, 0, 0);
    font-family:sans-serif;
    font-size: 50px;
}
h2{
    font-family: "Montserrat", sans-serif;
    color: rgb(73, 74, 10);
    font-size: 30px;
}

